body {
    margin: 0;
    background-color: #e7e7e7;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(169, 169, 169);
    display: flex;
    align-items: center;
    padding: 0 20px; 
    z-index: 1000;
    height: 63px;
}

.navbar .logo {
    position: absolute;
    margin-left: 93px;
    display: inline-block; 
}

.navbar .logo img {
    width: 61px;
    height: 61px;
}

.bouton-nav {
    display: flex;
    gap: 25px;
    margin-left: 100%;
}

.bouton-nav a {
    text-decoration: none;
    color: rgb(98, 98, 98);
    font-weight: bold;
    transition: color 0.4s;
    font-size: 21px;
}

.bouton-nav a:hover {
    color: #ffffff;
}

.container {
    width: 88%;
    background-color: rgba(238, 238, 238, 0.8);
    padding: 20px;
    box-sizing: border-box;
    margin: 63px auto 0 auto;
    height: calc(100vh - 63px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.artist-info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.artist-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-image img {
    height: 383px;
    max-width: 100%;
    border-radius: 10px;
}

.concert-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #006D5F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.concert-button:hover {
    background-color: #005c50;
}

.artist-details {
    flex: 2;
}

.artist-details h1 {
    color: #006D5F;
    font-size: 48px;
    margin-bottom: 10px;
}

.artist-details p {
    font-size: 25px;
    margin: 10px 0;
}

.artist-details ul {
    font-size: 17px;
    padding: 0;
}

.artist-details ul li {
    margin: 5px 0;
}

.Logo-Nom {
    position: absolute;
    margin-left: 39.6%;
    margin-top: 6px;
}