/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(233, 233, 233);
        color: black;
    }
    
    :root {
        --search-width: 40%;
        --search-bg: #dbdbdb;
        --search-text: #000000;
        --nav-bg: rgb(233, 233, 233);
        --nav-border: #555;
        --sidebar-hover: rgba(185, 185, 185, 0.1);
        --content-text: rgba(200, 200, 200, 0.5);
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(41, 41, 41);
        color: white;
    }

    :root {
        --search-width: 40%;
        --search-bg: #454545;
        --search-text: #ffffff;
        --nav-bg: rgb(41, 41, 41);
        --sidebar-hover: rgba(0, 0, 0, 0.1);
        --content-text: rgba(0, 0, 0, 0.5);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    padding: 30px;
    margin: 100px auto;
    background-color: var(--sidebar-hover);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.auth-box {
    width: 400px;
    padding: 40px;
}


.auth-box input {
    font-family: "Nunito", serif;
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
}

.submit-btn {
    background-color: #3d6287;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #2482a2;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg);
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    border-bottom: 1px solid var(--search-bg);
    z-index:99;
}

.logo {
    width: 187px;
    height: 50px;
}

.search-bar {
    flex: 1;
    max-width: var(--search-width);
    position: relative;
}

.search-bar input {
    width: 100%;
    padding: 8px 35px 8px 10px;
    border: none;
    border-radius: 8px;
    background-color: var(--search-bg);
    color: var(--search-text);
}

.search-bar input::placeholder {
    color: #888;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.connect-button {
    background-color: #3d6287;
    color: white;
    padding: 13px 25px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.connect-button:hover {
    background-color: #2482a2;
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    background-color: var(--nav-bg);
    border-right: 1px solid var(--search-bg);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    width: 80%;
    text-align: center;
}

.dropdown-btn {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: inherit;
    border-radius: 8px;
    transition: background 0.3s;
}

.dropdown-btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.dropdown-content {
    display: none;
    padding-left: 10px;
}

.menu-item:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
    transition: background 0.3s;
}

.dropdown-content a:hover {
    background: var(--sidebar-hover);
}

.separator1 {
    width: 80%;
    height: 2px;
    background-color: var(--search-bg);
    margin: 10px 0;
}

.container-wrapper {
    margin-left: 220px;
    margin-top: 80px;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    width: calc(100% - 220px);
    padding: 10px 0;
}

.container-wrapper::-webkit-scrollbar {
    display: none;
}

.container-scroll {
    display: flex;
    gap: 20px;
}

.content-box {
    margin-left: 20px;
    position: relative;
    width: 350px;
    height: 220px;
    border-radius: 15px;
    overflow: hidden;
    flex-shrink: 0;
}

.content-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--content-text);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.full-width-section {
    margin-left: 220px;
    padding-top: 20px;
}

.full-width-container {
    width: calc(100% - 240px);
    height: 150px;
    margin: 10px auto;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    transition: background 0.3s;
    color: var(--search-text);
}

.full-width-section a {
    text-decoration: none;
}

.full-width-container:hover {
    background: rgba(0, 0, 0, 0.2);
}

.separator2 {
    width: 70%;
    height: 2px;
    background-color: var(--search-bg);
    margin: 10px auto 10px 180px;
}

.connect a{
    color : #3d6287;
}

.connect a:hover {
    color : #2482a2;
}